<ion-content [fullscreen]="true">
  <ion-header collapse="condense" class="ion-padding">
    <ion-toolbar color="none">
      <ion-title size="large">My Bank Test</ion-title>
    </ion-toolbar>
  </ion-header>
  <div id="container" class="ion-padding">
    <strong class="ion-padding">Signup flow - Multistep</strong>
    <ion-button id="openModal" expand="block"> Start </ion-button>
  </div>
  <ion-modal #modal trigger="openModal">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <!-- <ion-title>Modal</ion-title> -->
          <ion-buttons slot="end">
            <ion-button (click)="modal.dismiss()"> Close </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-nav [root]="modalComponent"></ion-nav>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
